/*reset*/
html, body, div, span, a, p, ul, li, h1, code, nav {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: Futura, helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
  otherwise there is a phantom div on the right side of the screen (from the left:50vw),
  that the window will scroll to*/
  overflow-x: hidden;
}

/*root div in index.html*/
#root {
  min-height: 100vh;
}

/*reactroot div*/
#root > div {

  /*center based on vw to prevent content jump when vertical scroll bar show/hide
  note: vw/vh include the width of scroll bars*/
  position: relative;
  left: 50vw;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.h1, .h2 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  letter-spacing: 0.1em;
}
.h1 {
  font-size: 22px;
}
.h2 {
  font-size: 18px;
}
.page p {
  margin: 0 0 1em 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.4em;
}

/*links*/
a {
  color: babyblue;
  text-decoration: underline;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#Header {
  padding: 1em 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}
#Header h1 {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
}
#Header button {
  display: inline-block;
  text-indent: -9999px;
  background: url(/assets/images/icon-menu.svg) center center no-repeat;
  background-size: contain;
  outline: none;
  border: none;
  width: 30px;
  position: relative;
  height: 30px;
  float: right;
  z-index: 10;
  margin-right: -5px;
}
#Header.black {
  filter: invert(100%);
}
#Navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0,0,0,0.85);
}
#Navigation.open {
  display: block;
}
#Navigation ul {
  height: 100vh;
  padding: 20px 30px;
  box-sizing: border-box;
}
#Navigation li {
  height: calc(100vh/7);
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 26px;
}
#Body {
}
#SaveTheDate {
  background: url("/assets/images/jamela-and-wesley.jpg") 20% 50% no-repeat;
  background-size: cover;
  padding: 60px 30px 30px;
  text-align: center;
  color: white;
}
.fullscreen {
  padding: 80px 30px 30px;
  text-align: left;
  height: 100vh;
  width: 100vw;
  color: black;
  box-sizing: border-box;
}
#SaveTheDate p {
  font-weight: 500;
  font-size: 11px;
  border: 4px solid white;
  padding: 10px;
  text-transform: uppercase;
  height: calc(100vh - 84px);
}
#SaveTheDate p span {
  display: inline-block;
}
.bride, .groom, .amp {
  font-size: 36px;
  letter-spacing: 0.2em;
}
.bride.first {
  margin-top: 45px;
}
.groom.second {
  font-size: 22px;
  margin-bottom: 40px;
}
.invite, .location {
  font-size: 11px;
  letter-spacing: 0.2em;
  line-height: 1.7em;
}

@media only screen and (min-width: 780px) {
  .bride, .groom, .amp {
    font-size: 39px;
  }
  .bride.first {
    margin-top: 45px;
  }
  .groom.second {
    font-size: 39px;
  }
  .invite, .location {
    font-size: 13px;
  }
